@model IEnumerable<BeatyOfNature.Models.WildCat>
@{
    ViewBag.Title = "Home Page";
}
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://nannuphideaway.com.au/wp-content/uploads/2013/02/header31-1200x480.jpg" alt=""  class="imgresize"/>  
      <div class="carousel-caption">
        <p>Welcome to ourSite </p>
      </div>
    </div>
   
   @foreach (var item in Model.Reverse())
   {
       
       if(@ViewBag.count==2){
            break;
       }ViewBag.count ++;
      
       <div class="item">
          <a href="WildCats/Details/@item.Id"> <img src="@item.ImageUrl" class="imgresize"/></a>
          <div class="carousel-caption">
            <p>@item.Category</p>
          </div>
      </div>
   }
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>

</div><!-- /.carousel -->
<div class="row-fluid">
     @foreach (var item in Model)
   {
    <div class="span4">
        <h3>@item.Title</h3>
        <div class="textinspan">@item.Description</div>
        <br /> <br /><a href="WildCats/Details/@item.Id" class="btn btn-primary" type="button" >See more</a>
    </div>
     }
</div>
 <br /><div class="border-div"></div><br />
<ul id="slide" class="quotes">
    <li>Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.
<b>Thomas Edison</b> </li>
     <li>Being busy does not always mean real work. The object of all work is production or accomplishment and to either of these ends there must be forethought, system, planning, intelligence, and honest purpose, as well as perspiration. Seeming to do is not doing.
<b>Thomas Edison</b></li>
    <li>Life is what happens while you are busy making other plans.
<b>John Lennon</b> </li>
</ul>
