@model BeatyOfNature.Models.WildCat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<fieldset>
    <legend>WildCat</legend>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">ImageUrl</div>
    <div class="display-field">
        <img src="@Html.DisplayFor(model => model.ImageUrl)" />
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
